@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.link-blue {
  position: relative;
  color: #2563eb;
  transition: color 0.15s ease-in-out;
  padding-bottom: 4px;
  font-weight: 500;
}

.link-blue:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #2563eb;
  transition: width 0.15s ease-in-out;
}

.link-blue:hover {
  color: #0c34a0;
}

.link-blue:hover:after {
  width: 100%;
}